{% assign loc = site.data.current_location %}
{% if loc.city and loc.country %}
  <div class="current-location">
    <p>
      <i class="fa-solid fa-location-dot" aria-hidden="true"></i>
      <span class="current-location-label">{{ loc.label | default: 'Currently in' }}</span>
      {{ loc.city }}, {{ loc.country }}
    </p>
  </div>
{% endif %}
